/* game buttons */

:root {
  --retun-btn-background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  --info-btn-background: repeating-linear-gradient(
    45deg,
    #fc9f00,
    #fc9f00 5px,
    #fcac23 5px,
    #fcac23 10px
  );
  --info-btn-shadow: 0 6px 0 #fd760f, 0 8px 1px 1px rgba(15, 1, 1, 0.3),
    0 10px 0 5px #ff6a00, 0 12px 0 5px #fc9140, 0 15px 0 5px #ff6f00,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
}

.info-btn,
.return-btn,
.game-buttons {
  border-radius: 50%;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-weight: 700;
  border: none;
  color: #fff !important;
  padding: 8px 15px 10px;
  border-top: 3px solid rgba(255, 251, 251, 0.37) !important;
}

.game-buttons {
  margin: 15px 15px 30px;
  border-radius: 8px;
}

.return-btn {
  background: var(--retun-btn-background);
  box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(16, 91, 146, 0.5);
  text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2,
    -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2,
    0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px #004a87;
}

.info-btn,
.return-btn {
  margin-right: 50px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
}

.info-btn,
.game-buttons {
  background: var(--info-btn-background);
  box-shadow: 0 6px 0 #fd760f, 0 8px 1px 1px rgba(15, 1, 1, 0.3),
    0 10px 0 5px #ff6a00, 0 12px 0 5px #fc9140, 0 15px 0 5px #ff6f00,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgb(231, 129, 34);
  text-shadow: 2px 2px 1px #ff6d00, -2px 2px 1px #ff6d00, 2px -2px 1px #ff6d00,
    -2px -2px 1px #ff6d00, 0px 2px 1px #ff6d00, 0px -2px 1px #ff6d00,
    0px 4px 1px #ff6d00, 2px 4px 1px #ff6d00, -2px 4px 1px #ff6d00;
}

.info-btn:hover,
.return-btn:hover,
.game-buttons:hover {
  top: 2px;
}

.info-btn:hover {
  box-shadow: 0 4px 0 #fd760f, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #ff6a00, 0 10px 0 5px #fc9140, 0 13px 0 5px #ff6f00,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.return-btn:hover {
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
