body {
  background-image: url("background.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
/* logo */
.logo-name {
  color: #fff;
  font-weight: 900;
}

/* game buttons */
@import url("https://fonts.googleapis.com/css?family=Carter+One");
/* .col-3 {
    margin-bottom: 30px;
} */
.return-btn {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Cairo", sans-serif !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  /* text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87; */
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  /* box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3); */
}
.return-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.return-btn {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.return-btn::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.return-btn::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.return-btn .green {
  background: repeating-linear-gradient(
    45deg,
    #ffae26,
    #ffae26 5px,
    #ffb539 5px,
    #ffb539 10px
  );
  box-shadow: 0 6px 0 #ff6d00, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #ff6d00, 0 12px 0 5px #ff6d00, 0 9px 0 5px #ff6d00,
    0 9px 1px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 1px #ff6d00, -2px 2px 1px #ff6d00, 2px -2px 1px #ff6d00,
    -2px -2px 1px #ff6d00, 0px 2px 1px #ff6d00, 0px -2px 1px #ff6d00,
    0px 4px 1px #ff6d00, 2px 4px 1px #ff6d00, -2px 4px 1px #ff6d00;
}
.return-btn .green:hover {
  top: 2px;
  box-shadow: 0 4px 0 #ff6d00, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #ff6d00, 0 10px 0 5px #ff6d00, 0 13px 0 5px #ff6d00,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.info-btn {
  text-align: center;
  margin-right: 50px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 15px;
}
.info-btn::after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border-radius: 0;
}
.info-btn::before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border-radius: 0;
}

.logo img {
  width: 410px;
}

/* Medium Screens */
@media (min-width: 600px) and (max-width: 900px) {
  .logo img {
    width: 410px;
  }
}
/* Large Screens */
@media (min-width: 901px) {
  .logo img {
    width: 410px;
  }
}


/* game buttons */
@import url("https://fonts.googleapis.com/css?family=Carter+One");
/* .col-3 {
    margin-bottom: 30px;
} */
.return-btn {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Cairo", sans-serif !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  /* text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87; */
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  /* box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3); */
}
.return-btn:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.return-btn {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.return-btn::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.return-btn ::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.return-btn{
  text-align: center;
  margin-right: 50px;
  margin-top: 10px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 15px;
}
.return-btn ::after {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border-radius: 0;
}
.return-btn ::before {
  content: "";
  height: 0;
  position: absolute;
  width: 0;
  border-radius: 0;
}
