body{
    background-image: url('background.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* logo */
.logo-name {
    padding-top: 30px;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 900;
  }
  .logo{
    /* margin-bottom: 70px !important; */

}

.yellow-text{
    color: #FFD600;
}

/* main three games buttons */
/* .main-games{
    padding: 30px;
    background-color:#ffae26;
    color: white !important;
    font-weight: 700;
    text-decoration: none;
    border-radius: 15px;

}

.main-games:hover{ 
    animation: 1s ease 0s 1 normal none running rubberBand;
    transition: all 0.1s ease-in;
   
} */

/* game buttons */
@import url("https://fonts.googleapis.com/css?family=Carter+One");
/* .col-3 {
    margin-bottom: 30px;
} */
.main-games {
  position: relative;
  top: 0;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Cairo", sans-serif !important;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  /* text-shadow: 2px 2px 1px #0066a2, -2px 2px 1px #0066a2, 2px -2px 1px #0066a2, -2px -2px 1px #0066a2, 0px 2px 1px #0066a2, 0px -2px 1px #0066a2, 0px 4px 1px #004a87, 2px 4px 1px #004a87, -2px 4px 1px  #004a87; */
  border: none;
  margin: 15px 15px 30px;
  background: repeating-linear-gradient(
    45deg,
    #3ebbf7,
    #3ebbf7 5px,
    #45b1f4 5px,
    #45b1f4 10px
  );
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  /* box-shadow: 0 6px 0 #266b91, 0 8px 1px 1px rgba(0,0,0,.3), 0 10px 0 5px #12517d, 0 12px 0 5px #1a6b9a, 0 15px 0 5px #0c405e, 0 15px 1px 6px rgba(0,0,0,.3); */
}
.main-games:hover {
  top: 2px;
  box-shadow: 0 4px 0 #266b91, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #12517d, 0 10px 0 5px #1a6b9a, 0 13px 0 5px #0c405e,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
.main-games::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.main-games::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.main-games.green {
  background: repeating-linear-gradient(
    45deg,
   #ffae26,
   #ffae26 5px,
    #FFB539 5px,
    #FFB539 10px
  );
  box-shadow: 0 6px 0 #FF6D00, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #FF6D00, 0 12px 0 5px #FF6D00, 0 9px 0 5px #FF6D00,
    0 9px 1px 6px rgba(0, 0, 0, 0.3);
  text-shadow: 2px 2px 1px #FF6D00, -2px 2px 1px #FF6D00, 2px -2px 1px #FF6D00,
    -2px -2px 1px #FF6D00, 0px 2px 1px #FF6D00, 0px -2px 1px #FF6D00,
    0px 4px 1px #FF6D00, 2px 4px 1px #FF6D00, -2px 4px 1px #FF6D00;
}
.main-games.green:hover {
  top: 2px;
  box-shadow: 0 4px 0 #FF6D00, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #FF6D00, 0 10px 0 5px #FF6D00, 0 13px 0 5px #FF6D00,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}
